@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
ul li a:hover{
    color:black !important;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #b55c5c, #c7725c, #d58a5d, #dda462, #e1bf6c, #dbcb70, #d3d777, #c8e381, #b5e381, #a1e283, #8ae287, #6fe18d);

}
/*FONDO PRODUCTOS*/
.bg-fondoProductos{
    background-image: linear-gradient(to bottom, #b55c5c, #c7725c, #d58a5d, #dda462, #e1bf6c, #dbcb70, #d3d777, #c8e381, #b5e381, #a1e283, #8ae287, #6fe18d);
}
/*IMAGEN DE PORTADA*/
.imagenInicio{
    background-image: url("../Assets/fondoInicio.jpg");
    background-size: cover;
    border: .1em solid #815929;    
    height: 130vh;
    -webkit-animation:fade-in-top 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-top 1s cubic-bezier(.39,.575,.565,1.000) both
}
/*ANIMACIÓN DE LA IMAGEN DE PORTADA DEL INICIO*/

@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
/*LETRA DEL PÁRRAFO DE INICIO*/
.letraParrafoInicio{
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    font-weight: 300;
    transition: all 2s;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 400px;
}
.letraParrafoInicio:hover{
    -webkit-animation:focus-in-contract-bck 0.5s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-contract-bck 0.5s cubic-bezier(.25,.46,.45,.94) both
}
/*ANIMACIÓN DE LA LETRA DEL PÁRRAFO DEL INDEX*/
 @-webkit-keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

 /*LETRA DE DESCUENTO Y PROMOCIONES DEL INDEX*/
 .letraDescPromo{
    margin-bottom: 30px;      
    font-family: "Open Sans", cursive;
    font-weight: normal;
    text-shadow: 0 7px 5px gray;
    font-size: 3rem;
    color: #206dd1;
}
h5{
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

/*ANIMACIÓN DE LOS BOTONES DE LAS CARD DEL INDEX*/
.btn{
    -webkit-animation:pulsate-fwd 1s ease-in-out infinite both;animation:pulsate-fwd 1s ease-in-out infinite both
}
/*ID DEL ICONO DE FACEBOOK*/
#fb{
    background-image: url("../Assets/fb.png");    
    width: 80px;
    height: 80px;
    -webkit-animation:pulsate-fwd 1s ease-in-out infinite both;animation:pulsate-fwd 1s ease-in-out infinite both
}
/*ID DEL ICONO DE CORREO*/
#correo{   
    background-image: url("../Assets/correo.png"); 
    width: 80px;
    height: 80px;
    -webkit-animation:pulsate-fwd 1s ease-in-out infinite both;animation:pulsate-fwd 1s ease-in-out infinite both
}
/*ID DEL ICONO DE HUELLITAS*/
#huellitas{
    background-image: url("../Assets/huellitas.png");      
    width: 80px;
    height: 80px;
    -webkit-animation:pulsate-fwd 1s ease-in-out infinite both;animation:pulsate-fwd 1s ease-in-out infinite both
}
/*ICONO DE MAPA DE LA PÁGINA QUIENES SOMOS*/
#imagenMapa{
    background-image: url("../Assets/iconoMapa.jpg");     
    width: 90px;
    height: 80px;
    -webkit-animation:pulsate-fwd 1s ease-in-out infinite both;animation:pulsate-fwd 1s ease-in-out infinite both
}
/*ANIMACIÓN DE LAS REDES SOCIALES EN EN FOOTER Y MAPA DE QUIENES SOMOS*/
@-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}

/*FONDO DEGRADADO DEL INDEX*/
.bg-index{
    background-image: linear-gradient(to top,#837f7f,#c9fbff);
}
/*ESTILO DE LA LETRA DEL TITULO UBICACIÓN DE LA PAGINA QUIENES SOMOS*/
.letraUbicacion{   
    font-family: "Open Sans", cursive;
    font-weight: bold;
    font-size: 2.5em; 
}
/*ESTILO DE LA LETRA DEL PÁRRAFO DE LA PÁGINA QUIENES SOMOS*/
.letraQuienesSomos{           
    font-family: "Open Sans", cursive;
    font-weight: normal; 
}
/*ESTILO DE LETRA DE QUIENES SOMOS TITULO*/
h2,h3{
    text-shadow: 0 7px 5px gray;
}
.sombra-negra{
    text-shadow: 0 7px 5px rgb(0, 0, 0);
}
/*FONDO QUIENES SOMOS*/
.bg-fondoQS{
    background-image: linear-gradient(to top, #deeedd, #daefd3, #d8f0c7, #d9f0ba, #dcf0ac, #e3dc99, #e7c88d, #e7b586, #cd9388, #a17a84, #726670, #4f4f4f);
}
.bg-fondoQS2{
    background-image: linear-gradient(to bottom, #deeedd, #daefd3, #d8f0c7, #d9f0ba, #dcf0ac, #e3dc99, #e7c88d, #e7b586, #cd9388, #a17a84, #726670, #4f4f4f);
}
/*ANIMACIÓN DE LA IMAGEN DE PORTADA DE QUIENES SOMOS*/
.anima-quienesomos{
    transition: all 2s;    
}
.anima-quienesomos:hover{
    transform: scale(1.1) translateX(5px);
}

/*ANIMACIÓN DE MAPA Y FOTO DE RAZA DE PERROS EN QUIENES SOMOS*/
.anima-mapaPerros{
    transition: all 2s;
    -webkit-animation:rotate-in-top 2s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-top 2s cubic-bezier(.25,.46,.45,.94) both
}
/*ANIMACIÓN DE MAPA Y FOTO DE RAZAS DE PERROS EN QUIENES SOMOS*/
@-webkit-keyframes rotate-in-top{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes rotate-in-top{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}

/*LETRA DEL TÍTULO: TIPO DE ENTRENAMIENTO*/
.letraTipoEntrenamiento{
    font-family: "Open Sans", cursive;
    font-weight: bold;
    font-size: 2.5rem;
    font-weight: 500;
}
/*ESTILO DE LOS VIDEOS DE YT DE LA PÁGINA ENTRENAMIENTO*/
.anima-video{
    
    border-radius: 20%;
    text-align: center;
    transition: all 1s;
}
/*ANIMACIÓN DE LOS VIDEOS DE YT DE LA PÁGINA ENTRENAMIENTO*/
.anima-video:hover{
    transform: scale(1.1);
}
/*FONDO DE LA PÁGINA ENTRENAMIENTO*/
.bg-entrenamiento{
    background-image: url(../Assets/fondoHuellasNegras-plomas.jpg);
    background-repeat: repeat;
}
/*ESTILO DE LETRA DE CATEGORIA DE ENTRENAMIENTO*/
.letraCategoríaEntrenamiento{     
    width: 250px;
    height: 52px;    
    background-color: #9BDC88;
    border: #9BDC88;          
    border-radius: 90%;
    font-family: "Comics Sans",cursive;
    color: white;
}
/*ANIMACIÓN DE LAS CARDS DE PRODUCTOS DESTACADOS*/
.anima-producto{
    transition: all 2s;
}
.anima-producto:hover{
    transform: scale(1.1);
    border: .10cm solid #206dd1;
}
/*ESTILO DEL BOTÓN DE FORMULARIO DE CONTÁCTENOS*/
.botonFormulario{
    background:#78CDBE;
    border: .1em solid gray;
    width:130px;
    height:40px;
    font-size: 15px;
    margin-left: 40px;
    cursor: pointer;
    transition: all 2s;
}
.botonFormulario:hover{
    background-color: #e68b41;
    transform: scale(1.2);
}
/*FONDO DEL FORMULARIO CONTACTENOS*/
.bg-fondoContactenos{
    width:600px;
    height: 500px;
    margin-bottom: 60px;
    color:white;
    background-image: url("../Assets/fondoFormulario.jpg");
    border-radius: 15%;
    margin-left: 350px;
    box-shadow: #e68b41 10px 10px 20px;
    transition: all 3s;    
}
/*ANIMACIÓN DEL FORMULARIO CONTACTENOS*/
.bg-fondoContactenos:hover{
    box-shadow: #206dd1 20px 20px 30px;
}
/*ESTILOS DEL FORMULARIO DE CONTACTENOS*/
legend {
    font-weight: bold;
    color: white;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: initial;
    border-image: initial;
}
label{
    color:white;
    font-weight: bold;
}
input{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
}
textarea{
    height: 80px;
    width: 480px;
    border-width:2px;
}
.btn{
    height: 40px;
    width: 170px;
}
/*MEDIA QUERY*/
@media  (max-width: 575.98px) { 
    .tam-mapa{
        width: 519px;
        height: 346px;
    }
    .letraQuienesSomos{
        font-size: 12px;
    }
    .tam-letra-footer{
        font-size: 12px;
    }
    #imagenMapa{
        width: 50px;
        height: 50px;
    }   
    .imagenInicio{
        height: 80vh;
    }
    .letraParrafoInicio{
        font-size: 12px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 140px;
    }
    .letraCategoríaEntrenamiento{
        margin-left: 150px;
    }
    .video{
        width: 350px;
        height: 200px;
    }
}
@media (min-width: 575.98px) and (max-width: 767.98px) { 
    .tam-mapa{
        width: 600px;
        height: 400px;
     }
    .imagenInicio{
        height: 100vh;
    }
    .letraParrafoInicio{
        font-size: 14px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 170px;
    }
    .card{
        height: 600px;
        width: 500px;
        margin-left: 120px;
    }
    .tam-letra-footer{
        padding: 10px;
        font-size: 12px;
    }

}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .imagen-quienes-somos{
        width: 800px;
        height: 300px;
    }
    .tam-mapa{
        width: 350px;
        height: 300px;
     }
    .tam-razas-perros{
        width: 570px;
        height: 300px;
     }
    .btn{
        height: 40px;
        width: 100px;
    }
    .imagenInicio{
        height: 90vh;
    }
    .letraParrafoInicio{
        font-size: 14px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 170px;
    }
    .tam-letra-footer{
        padding: 15px;
        font-size: 18px;
    }
}
@media (min-width: 1199.98px) and (max-width: 1399.98px) { 
    .imagenInicio{
        height: 170vh;
    }
    .tam-mapa{
        width: 600px;
        height: 400px;
    }
}


