@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 575.98px) {
  .card {
    height: 500px;
    width: 400px;
    margin-left: 90px; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .card {
    height: 600px;
    width: 500px;
    margin-left: 120px; } }

.botonFormulario {
  background: #78CDBE;
  border: .1em solid gray;
  width: 130px;
  height: 40px;
  font-size: 15px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 2s; }
  .botonFormulario:hover {
    background-color: #e68b41;
    transform: scale(1.2); }

.btn {
  height: 40px;
  width: 170px;
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both; }

@media (min-width: 768px) and (max-width: 1199.98px) {
  .btn {
    height: 40px;
    width: 100px; } }

header .navbar {
  font-family: "Roboto Mono", monospace;
  font-weight: bold; }

header ul li a:hover {
  color: black !important;
  border-radius: 50%;
  background-image: linear-gradient(to top, #837f7f, #c9fbff); }

footer .fb, footer .correo, footer .huellitas {
  background-image: url("../Assets/fb.png");
  width: 80px;
  height: 80px;
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both; }

footer .correo {
  background-image: url("../Assets/correo.png"); }

footer .huellitas {
  background-image: url("../Assets/huellitas.png"); }

@media (max-width: 575.98px) {
  .tam-letra-footer {
    font-size: 12px; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .tam-letra-footer {
    padding: 10px;
    font-size: 12px; } }

@media (min-width: 768px) and (max-width: 1199.98px) {
  .tam-letra-footer {
    padding: 15px;
    font-size: 18px; } }

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.imagenInicio {
  background-image: url("../Assets/fondoInicio.jpg");
  background-size: cover;
  border: .1em solid #815929;
  height: 70vh;
  -webkit-animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.letraParrafoInicio {
  font-family: "Roboto Mono", monospace;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 400px;
  font-weight: 300;
  font-size: 1.5rem;
  transition: all 5s; }
  .letraParrafoInicio:hover {
    -webkit-animation: focus-in-contract-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: focus-in-contract-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.bg-index {
  background-image: linear-gradient(to top, #837f7f, #c9fbff); }
  .bg-index .letraDescPromo {
    margin-bottom: 30px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-shadow: 0 7px 5px gray;
    font-size: 3rem;
    color: #206dd1; }

@media (max-width: 575.98px) {
  .imagenInicio {
    height: 82vh; }
  .letraParrafoInicio {
    font-size: 1rem;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 140px; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .imagenInicio {
    height: 100vh; }
  .letraParrafoInicio {
    font-size: 12px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 100px; } }

@media (min-width: 767.98px) {
  .imagenInicio {
    height: 100vh; }
  .letraParrafoInicio {
    font-size: 16px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 100px; } }

@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .imagenInicio {
    height: 120vh; }
  .letraParrafoInicio {
    font-size: 16px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 80px; } }

@media (min-width: 1199.98px) {
  .imagenInicio {
    min-height: 170vh;
    max-width: 240vh; }
  .letraParrafoInicio {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 170px; } }

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .imagenInicio {
    height: 120vh;
    max-width: 1399vw; }
  .letraParrafoInicio {
    font-size: 1rem;
    margin-right: 200px; } }

.bg {
  background-color: linear-gradient(to top, #837f7f, #c9fbff); }

.anima-quienesomos {
  background-image: url("../Assets/quienesSomos.jpg");
  transition: all 2s; }
  .anima-quienesomos:hover {
    transform: scale(1.1) translateX(5px); }

.sombra-negra {
  text-shadow: 0 7px 5px black; }

.letraQuienesSomos {
  font-family: "Open Sans", cursive;
  font-weight: normal; }

.letraUbicacion {
  margin-bottom: 30px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-shadow: 0 7px 7px gray;
  font-size: 5rem;
  color: #206dd1; }

.imagenMapa {
  background-image: url("../Assets/iconoMapa.jpg");
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both; }

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.anima-mapaPerros {
  transition: all 2s;
  -webkit-animation: rotate-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-top 2s cubic-bezie(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes rotate-in-top {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes rotate-in-top {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@media (max-width: 575.98px) {
  .tam-mapa {
    width: 519px; }
  .letraUbicacion {
    font-size: 2.5rem; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .letraUbicacion {
    font-size: 2.5rem; }
  .imagenMapa {
    width: 80px;
    height: 80px; } }

@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .imagen-quienes-somos {
    width: 900px;
    height: 300px; }
  .tam-mapa {
    width: 350px;
    height: 300px; }
  .letraQuienesSomos {
    font-size: 14px; }
  .tam-razas-perros {
    width: 570px;
    height: 300px; }
  .letraUbicacion {
    font-size: 2.5rem; }
  .imagenMapa {
    width: 80px;
    height: 80px; } }

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .letraUbicacion {
    font-size: 2.5rem; } }

.bag {
  background-image: linear-gradient(to top, #837f7f, #c9fbff); }

.letraTipoEntrenamiento {
  font-family: "Open Sans", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 7px 7px gray; }

.letraCategoríaEntrenamiento {
  width: 450px;
  background-color: #4db2e8;
  border: #4db2e8;
  border-radius: 90%;
  font-family: "Open Sans", cursive;
  text-shadow: 0 7px 7px gray; }

.anima-video {
  border-radius: 20%;
  text-align: center;
  transition: all 2s; }
  .anima-video:hover {
    transform: scale(1.1); }

@media (max-width: 575.98px) {
  .letraCategoríaEntrenamiento {
    margin-left: 30px; }
  .video {
    margin-left: 90px;
    width: 450px;
    height: 250px; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .letraCategoríaEntrenamiento {
    margin-left: 30px; }
  .video {
    margin-left: 120px;
    width: 600px;
    height: 300px; } }

@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .letraCategoríaEntrenamiento {
    margin-left: 30px; }
  .video {
    margin-left: 30px;
    width: 220px;
    height: 250px; } }

.bg-fondoProductos {
  background-image: linear-gradient(to top, #837f7f, #c9fbff); }
  .bg-fondoProductos .letraCategoríaEntrenamiento {
    width: 250px;
    height: 52px;
    background-color: #9BDC88;
    border: #9BDC88;
    border-radius: 90%;
    font-family: "Comics Sans",cursive;
    color: white; }
  .bg-fondoProductos .anima-producto {
    transition: all 2s; }
    .bg-fondoProductos .anima-producto:hover {
      transform: scale(1.1);
      border: .10cm solid #206dd1; }

@media (max-width: 575.98px) {
  .col-md-3 {
    width: 50%; }
  .card-prod-dest {
    margin-left: 25px;
    width: 12rem;
    height: 20rem; }
  .col-md-4 {
    width: 40%; }
  .card-categoria {
    margin-left: 25px;
    width: 10rem;
    height: 18rem; }
  .btn {
    width: 6.7rem;
    height: 2.3rem; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .col-md-3 {
    width: 25%; }
  .card-prod-dest {
    margin-left: 10px;
    width: 10rem;
    height: 18rem; }
  .col-md-4 {
    width: 50%; }
  .card-categoria {
    margin-left: 15px;
    width: 14rem;
    height: 20rem; }
  .btn {
    width: 6.7rem;
    height: 2.3rem; } }

.bg-fondoContactenos {
  width: 600px;
  height: 500px;
  margin-bottom: 60px;
  color: white;
  background-image: url("../Assets/fondoFormulario.jpg");
  border-radius: 15%;
  margin-left: 350px;
  box-shadow: #e68b41 10px 10px 20px;
  transition: all 3s; }
  .bg-fondoContactenos:hover {
    box-shadow: #206dd1 20px 20px 30px; }

legend {
  font-weight: bold;
  color: white;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: initial;
  border-image: initial; }
  legend input {
    margin-bottom: 20px;
    width: 200px;
    height: 25px; }

textarea {
  height: 80px;
  width: 480px;
  border-width: 2px; }

@media (max-width: 575.98px) {
  .bg-fondoContactenos {
    width: 470px;
    margin-left: 50px; }
  .textarea {
    max-width: 350px !important;
    border-width: 2px; } }

@media (min-width: 575.98px) and (max-width: 767.98px) {
  .bg-fondoContactenos {
    width: 550px;
    margin-left: 100px; } }

@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .bg-fondoContactenos {
    width: 550px;
    margin-left: 100px; } }

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .bg-fondoContactenos {
    width: 550px;
    margin-left: 380px; } }
