.bg-fondoContactenos{
    width:600px;
    height: 500px;
    margin-bottom: 60px;
    color:white;
    background-image: url("../assets/fondoFormulario.jpg");
    border-radius: 15%;
    margin-left: 350px;
    box-shadow: #e68b41 10px 10px 20px;
    transition: all 3s; 
    &:hover{
        box-shadow: #206dd1 20px 20px 30px;
    }   
}
legend {
    font-weight: bold;
    color: white;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: initial;
    border-image: initial;
    input{
        margin-bottom: 20px;
        width: 200px;
        height: 25px;
    }
}

textarea{
    height: 80px;
    width: 480px;
    border-width:2px;
}

@media  (max-width: 575.98px) { 
    .bg-fondoContactenos{
        width:470px;
        margin-left: 50px;
    }
    .textarea {
        max-width: 350px!important;
        border-width: 2px;
    }
}
@media (min-width: 575.98px) and (max-width: 767.98px){
    .bg-fondoContactenos{
        width:550px;
        margin-left: 100px;
    }
}
@media (min-width: 767.98px) and (max-width: 1199.98px){
    .bg-fondoContactenos{
        width:550px;
        margin-left: 100px;
    }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px){
    .bg-fondoContactenos{
        width:550px;
        margin-left: 380px;
    }
}

