header{
    .navbar{
        font-family: $letra-roboto;
        font-weight: bold;      
    }
    ul{
        li{
            a{
                &:hover{
                    color:black !important;
                    border-radius: 50%;
                    background-image: $bg-celeste-plomo;
                }  
            }
        }
    } 
}