@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

$letra-roboto:'Roboto Mono', monospace;
$tam-icono-redes-sociales: 80px;
$bg-celeste-plomo: linear-gradient(to top,#837f7f,#c9fbff);
$color-letra-subtitulo: #206dd1;
$color-sombra-subtitulo: gray;
$letra-open-sans: "Open Sans", cursive;